/***********************
        IMPORTS
************************/
@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One);
/***********************
        VARIABLES
************************/

$background:#2c3e50;
$lightgrey:#34495e;
$lightred:#e74c3c;
$lightgold:#f1c40f;
$darkgold:#f39c12;
$silver:#bdc3c7;
$clouds:#ecf0f1;
$pumpkin:#d35400;
$carrot:#e67e22;
$riotred:#DC291E;
$riotred2:#DE291E;

$largebreak: 1000px;
$medbreak: 700px;
$smbreak:400px;
$supersmbreak:375px;
/*************************************
              OVERALL
*************************************/
body{
  background-color:$background;
  color:$clouds;
  font-family: 'Pathway Gothic One', sans-serif;
}
.navlinktwo{
  color:$riotred2;
}
.riot{
  color:$pumpkin;
}
.twitter{
  color:$carrot;
}
.facebook{
  color:$riotred;
}
a{
  text-decoration: none;
  &:hover{
    cursor: pointer;
  }
}

/***********************
        HEADER
************************/
header{
  background-color:$lightgrey;
  margin-bottom:30px;
  @media screen and(max-width:$medbreak){
    background-color:$background;
    div.container {
      padding:0;
    }
  }
  .container{
    h1{
      font-size: 5em;
      text-align: center;
      display:block;
      @media screen and(max-width:$medbreak){
        font-size:4.3em;
      }
      @media screen and(max-width:$smbreak){
        margin-top:35px;
      }
      @media screen and(max-width:$supersmbreak){
        font-size: 3.5em;
        margin-top:35px;
      }
    }
  }
  h1{
    color:$lightgold
  }
}
.topnav{
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom:15px;
  margin-top:30px;
  font-size: 1.5em;
  @media screen and(max-width:$medbreak){
    background-color:$lightgrey;
    margin-bottom:0;
  }

  .navigationUL{
    margin-top: 0;
    margin-bottom: 10px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    width:100%;
    li{
      list-style: none;
      display:inline-block;
      margin: 10px 5%;
      @media screen and(max-width:$supersmbreak){
        margin: 10px 2%;
      }
      a{
        text-decoration: none;
        color:$clouds;
        &:hover{
          color:$carrot;
        }
      }
    }
  }
}


/***********************
        FOOTER
************************/
footer{
  clear:both;
}
.riotbanner{
  text-align: center;
  max-width: 200px;
  width:40%;
  margin:auto;
  a img{
    width:100%;
  }
}


/*************************************
              THUMB
*************************************/

/***********************
        SEARCH
************************/
.searchchamps{
  padding:10px;
  background-color:$riotred;
  border-bottom:2px solid $pumpkin;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.search{
  color:black;
  margin:auto;
  display:block;
}

.filter-tabs{
  margin-top: 0;
  margin-bottom: 10px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  width:100%;
  text-align: center;
  li{
    list-style: none;
    display:inline-block;
    margin: 10px 5%;
    @media screen and(max-width:$supersmbreak){
      margin: 10px 2%;
    }
  }
}
.filter-tab{
  &:hover{
    cursor:pointer;
  }
}

/***********************
      SECTION
************************/
.thumbcontainer{
  background-color:$lightgrey;
  padding:15px;
  margin-bottom:30px;
  text-align: center;
  font-size:1.4em;
  @media screen and(max-width:$medbreak){
    height:400px;
    overflow: scroll;
  }
}
.champthumbs{
    padding-bottom:15px;
    padding-top:15px;
    max-width: 50%;
    display: inline-block;
  img{
    border:3px outset $lightgold;
    display:block;
    margin:0 auto;
    width:100%;
  }
}

/*************************************
              SPLASH
*************************************/
.splashName{
  text-align: center;
  font-size:5em;
  margin-top:0;
  @media screen and(max-width:$medbreak){
    font-size:3.5em;
  }
  @media screen and(max-width:$smbreak){
    font-size:2.5em;
  }
}
.splashTitle{
  text-align: center;
  color:$riotred2;
  @media screen and(max-width:$smbreak){
    font-size:1.4em;
  }
  @media screen and(max-width:$supersmbreak){
    font-size:1.2em;
  }
}
.splashArt{
  width:80%;
  margin: 0 auto;
  margin-bottom:5px;
  img{
    width:100%;
  }
}
.loadingart{
  vertical-align: top;
  display:inline-block;
  width:100px;
  margin:5px;
  @media screen and(max-width: $medbreak){
    width:60px;
  }
  img{
    width:100%;
  }
  span{
  display:block;
  word-wrap: break-word;
  }
}
.skincollection{
  width: 80%;
  margin: auto;
  margin-bottom:30px;
  text-align: center;
  @media screen and(max-width: $medbreak){
    overflow: scroll;
    max-height: 175px;
    border:1px solid $lightgold;
    background-color:#1c1c1c;
    span{
      display: none;
    }
  }
}
.champlore{
  display:inline-block;
  text-align: center;
  width:50%;
  padding:20px 35px;
  margin:0 30px;
  background-color:$lightgrey;
  line-height: 2em;
  @media screen and(max-width: $medbreak){
    width:100%;

    margin:0 0 20px 0;
  }
}
.champsAside{
  display: inline-block;
  width: 40%;
  vertical-align: top;
  background-color: #34495e;
  padding: 20px 5px;
  text-align: center;
  @media screen and(max-width: $medbreak){
    width:100%;
    margin-bottom:20px;
  }
}
.champSkins{
  &:hover{
    cursor: pointer;
  }
}
.champspells{
  display:inline-block;
  text-overflow: hidden;
  margin: 0 5px;
  width: 75px;
  vertical-align: top;
  margin-bottom: 9px;
  @media screen and(max-width: $largebreak){
    float:left;
    clear:both;
  }
  @media screen and(max-width: $medbreak){
  float:none;
  clear:none;
  }
  @media screen and(max-width: $smbreak){
    width: 20%;
    word-wrap: break-word;
    span{
      font-size:.7em;
    }
  }
  img{
    width:100%;
    border:3px outset $lightgold;
  }
  span{
    display:block;
  }
  &:hover{
    cursor: pointer;
  }
}
.abilitydescript{
  @media screen and(max-width: $largebreak){
    display:inline-block;
    width:50%;
    margin-top:35%;
  }
  @media screen and(max-width: $medbreak){
    margin-top:5%;
  }
}

.splashcont{
  margin-bottom:30px;
}



/*************************************
              FAVORITES
*************************************/
