<champ-header></champ-header>
<section class="container splashcont" ng-contoller="champController as champCtrl">
    <h1 class="splashName">{{champCtrl.champs.name | uppercase}}</h1>
    <h3 class="splashTitle">{{champCtrl.champs.title}}</h3>
    <div class="splashArt">
      <img ng-src="{{champCtrl.champs.image.splashbase}}_{{champCtrl.skinnum}}.jpg" alt="" />
    </div>
    <div class="skincollection">
    <div ng-repeat="skins in champCtrl.champs.skins"class="loadingart">
      <img ng-click="champCtrl.changenum(skins.num)" class="champSkins" ng-src="{{champCtrl.champs.image.skinsbase}}_{{skins.num}}.jpg" alt="">
      <span>{{skins.name}}</span>
    </div>
    </div>
    <aside class="champsAside">
      <div class="abilities">
        <div ng-repeat="spells in champCtrl.champs.spells | limitTo: 4" class="champspells">
          <img ng-click="champCtrl.newSpell(spells.description)" ng-src="{{spells.id}}.png" alt="">
          <span>{{spells.name}}</span>
        </div>
      </div>
      <div class="abilitydescript" ng-bind-html="champCtrl.spelldescript">

      </div>
    </aside>
    <article  class="champlore">
      <div ng-bind-html="champCtrl.champslore">

      </div>

    </article>
</section>
<champ-footer></champ-footer>
